@use "tokens" as *;

.app-banner {
  background: var(--text-strong);
  padding: $sp-50 $sp-125 calc($sp-50 + 0.125rem);

  @media screen and (min-width: $bp-lg) {
    padding: $sp-75 $sp-125 calc($sp-75 + 0.125rem);
  }

  &__text {
    max-width: var(--content-width);
    margin: 0 auto;
    font-size: $fs-75;
    text-align: center;
    text-wrap: balance;
    letter-spacing: $ls-loose;
    color: var(--text-subtle);

    a {
        color: inherit;
        text-decoration: underline;
        text-decoration-thickness: 0.5px;
        text-underline-offset: 0.2em;
    }
  }

  &__icon {
    position: relative;
    padding-left: calc($sp-125 + 0.125rem);

    &:before {
        content: '';
        position: absolute;
            top: -0.15em;
            left: 0;
        display: inline-block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23E8E6E3'%3E%3Cpath d='M740-154 527.5-366.5l66-66L806-220l-66 66Zm-520 0-66-66 260-260-64-63-37 37-51-51.5v69L237-463 128.5-571.5l25.5-25h69L187-633l139-139q16-16 36.75-25t44.25-9q23.5 0 44.25 9T488-772l-83 82 46 46-35 35 64 63 78-78q-5-12.5-7.75-25.5t-2.75-27q0-53.5 37.75-91.25t91.25-37.75q13.5 0 26.25 3t24.75 8L642-709l67 67 85.5-85.5q5.5 11 8.25 24.25t2.75 26.75q0 53.5-37.75 90.75T676.5-548.5q-14 0-27-2.25T624-559L220-154Z'/%3E%3C/svg%3E");
        background-size: cover;
        width: $sp-125;
        height: $sp-125;
        opacity: 0.5;
    }
  }
}