@use "tokens" as *;

.app-footer {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $sp-25;
        border-top: 1px solid var(--border-regular);
        padding-top: $sp-150;
        padding-bottom: 6rem;

        @media screen and (min-width: $bp-lg) {
            padding-bottom: $sp-25;
        }

        @media screen and (min-width: $bp-sm) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: flex-start;
            gap: $sp-100;
        }
    }

    &__logo-link {
        display: inline-flex;
        align-self: flex-start;
    }

    &__logo {
        width: 9rem;

        .app-logo__image {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__illo {
        pre {
            font-size: $fs-75;
            white-space: pre;
            display: inline-block;
            //-webkit-font-smoothing: antialiased;
            //-moz-osx-font-smoothing: grayscale;
        }
    }

    &__message {
        font-size: $fs-75;
        text-wrap: balance;
        width: 100%;
    }

    &__colophon {
        font-size: $fs-50;
        text-wrap: balance;
        width: 100%;

        a {
            color: var(--accent);
            text-decoration: underline;
            text-decoration-thickness: 0.5px;
            text-underline-offset: 0.2em;
        }
    }
}