@use './tokens' as *;

.toast {
  position: fixed;
  left: 50%;
  bottom: 4rem;
  transform: translateX(-50%);
  z-index: 1000;

  padding: $sp-50 $sp-100;
  border-radius: $radius-rounded;

  background: var(--green-50);
  color: var(--text-inverse);

  font-size: $fs-100;
  font-weight: $fw-medium;
  line-height: $lh-120;
  white-space: nowrap;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: $bp-lg) {
    
  }
}