/* Font faces */
@font-face {
  font-family: "STIX Two Text";
  src:
    url("/assets/fonts/stix-two-text-normal-600-gr.woff2") format("woff2"),
    url("/assets/fonts/stix-two-text-normal-600-lat-ext.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("/assets/fonts/ibm-plex-sans-condensed-normal-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src: url("/assets/fonts/ibm-plex-sans-condensed-normal-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
    /* colors */
    --white: hsl(40, 12%, 100%);

    --gray95: hsl(36, 10%, 95%);
    --gray90: hsl(36, 10%, 90%);
    --gray85: hsl(36, 10%, 85%);
    --gray80: hsl(36, 10%, 80%);
    --gray75: hsl(36, 10%, 75%);
    --gray70: hsl(36, 10%, 70%);
    --gray65: hsl(36, 10%, 65%);
    --gray60: hsl(36, 10%, 60%);
    --gray55: hsl(36, 10%, 55%);
    --gray50: hsl(36, 10%, 50%);
    --gray45: hsl(36, 10%, 45%);
    --gray40: hsl(36, 10%, 40%);
    --gray35: hsl(36, 10%, 35%);
    --gray30: hsl(36, 10%, 30%);
    --gray25: hsl(36, 10%, 25%);
    --gray20: hsl(36, 10%, 20%);
    --gray17: hsl(36, 10%, 17%);
    --gray15: hsl(36, 10%, 15%);
    --gray10: hsl(36, 10%, 10%);
    --gray06: hsl(36, 10%, 6%);

    --blue25: hsl(232, 30%, 25%);
    --blue30: hsl(232, 30%, 30%);
    --blue35: hsl(232, 30%, 35%);
    --blue40: hsl(232, 30%, 40%);
    --blue45: hsl(232, 30%, 45%);

    --green35: hsl(153, 39%, 40%);
    --green30: hsl(153, 39%, 35%);
    --green25: hsl(153, 39%, 30%);
    --green40: hsl(153, 39%, 45%);
    --green45: hsl(153, 39%, 50%);

    --yellow55: hsl(42, 65%, 55%);

    /* typography */
    --fs-50: 0.688rem;
    --fs-75: 0.75rem;
    --fs-100: 0.875rem;
    --fs-200: 1rem;
    --fs-300: 1.25rem;
    --fs-400: 1.5rem;
    --fs-500: 1.875rem;
    --fs-600: 2.25rem;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;

    --lh-110: 1.1;
    --lh-120: 1.2;
    --lh-130: 1.3;
    --lh-150: 1.5;

    --ls-10: 0.01em;
    --ls-60: 0.06em;

    /* spacing */
    --space-25: 0.25rem;
    --space-37: 0.375rem;
    --space-50: 0.5rem;
    --space-75: 0.75rem;
    --space-100: 1rem;
    --space-125: 1.25rem;
    --space-150: 1.5rem;
    --space-200: 2rem;
    --space-250: 2.5rem;

}